.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: calc(100% - 40px);
  gap: 32px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}

header {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

nav {
  width: 60%;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

nav>ul>li>a,
nav>ul>li>a:visited {
  text-decoration: none;
  color: black;
}

#header-logo {
  width: 20%;
}

main {
  background-color: #495E57;
  color: #FFFFFF;
  font-weight: bold;
}

footer {
  background-color: #F4CE14;
  color: #000000;
  font-weight: bold;
}